@using NobiShop.Models
@using PagedList.Mvc;
@model PagedList.PagedList<NobiShop.Models.SANPHAM>

@helper Truncate(string s,int length) 
    { 
    if (s.Length < length)
    { 
        @s    
    }
    else
    {
        @s.Substring(0,length)
    }
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center;">QUAN LY THONG TIN SAN PHAM</h2>

<p>
    @Html.ActionLink("ThemMoi", "Create")
</p>
<table class="table">
    <tr>
        <th style="text-align:center;width:140px">
            Ten San Pham
        </th>
        <th style="text-align:center;width:100px">
            @Html.DisplayNameFor(model => model.First().GiaBan)
        </th>
        <th style="text-align:center;width:200px">
            Mo Ta
        </th>
        <th style="text-align:center;width:80px">
            @Html.DisplayNameFor(model => model.First().AnhBia)
        </th>
        <th>
            Ngay Cap Nhat
        </th>
        <th>
           So luong
        </th>
        <th>
            Loai Cho
        </th>
        <th>
            Dich Vu
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Truncate(item.TenSP,50)
        </td>
        <td>
            @Html.FormatValue(item.GiaBan,"{0:#,##0}")
        </td>
        <td>
            @Html.Raw(Truncate(item.MoTa,70).ToString())
        </td>
        <td>
            <img src="~/Images/@item.AnhBia" style="width:50px" />
        </td>
        <td>
            @Html.FormatValue(@item.NgayCapNhat,"{0:dd/MM/yyyy}")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuongBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaLoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaDV)
        </td>
        <td>
            <a href="@Url.Action("Edit",new {id = item.MaSP})" class="btn btn-warning" role="button">Sua</a>
            <a href="@Url.Action("Details",new {id =item.MaSP } )" class="btn btn-primary" role="button">Chi Tiet</a>
            <a href="@Url.Action("Delete",new {id =item.MaSP } )" class="btn btn-danger" role="button">Xoa</a>

        </td>
    </tr>
}

</table>
Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount
<div class="MenuTrang">
    @Html.PagedListPager(Model,page => Url.Action("Index",new {page = page}))
</div>
<style>
    .MenuTrang{
        display:inline;
        text-align:center;
    }
</style>